<% if @list.photo.attached? %>
  <% url = cl_image_path @list.photo.key, width: 100, heigth: 200%>
<% else %>
  <% url = "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png" %>
<% end %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url  %>)">
 <h1><%= @list.name %></h1>
</div>
<ul>
  <h2>Movies</h2>
  <% @list.bookmarks.each do |bookmark| %>
   <li><%= bookmark.movie.title %> - <%= bookmark.movie.rating %><br>
   <%= bookmark.movie.overview %> <br>
   <%= bookmark.comment %>
   <%= link_to "Delete movie", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Delete?" }  %>
   </li>
  <% end %>
</ul>
<%= link_to "Add a movie",  new_list_bookmark_path(@list) %>
